%h1 Results#index

%form{ action: 'results/create', method: 'post'}
  %input{ name: 'authenticity_token', value: form_authenticity_token, type: 'hidden' }
  %p
    title
    %input{ name: 'title', type: 'text' }
  %input{ type: 'submit', value: 'send'}
